<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}">首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="../../static/js/bootstrap/css/bootstrap.css"
          th:href="@{/static/js/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>


</body>
</html>