html, body {
    font-family: "微软雅黑 Light", Consolas, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f8f8f8;
}
.article-title{
    font-size: 2.2rem;
}
.article-title a {
    color: #000000;
}
.article-title a:hover{
    /*text-decoration: none;*/
    color: #1f2485;
}
.article-tag {
    color: #999999;
}
.article-tag a {
    /*text-decoration: none;*/
    color: #999999;
}
.article-abstract {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #E3E3E3;
    /*background: #e3e3e3;*/
}

.panel-footer-white {
    background: #ffffff!important;
}

/*定义二级菜单样式*/
.secondmenu a {
    font-size: 13px;
    color: #4A515B;
    padding-left: 2rem !important;
    /*text-align: center;*/
}

.navbar-extend {
    background-color: #4eb36d;
    margin-bottom: 15px;
}
.navbar-extend a{
    color: #fff!important;
    font-weight: 600;
    font-size: 16px;
}
.navbar-extend li
.navbar-extend a:hover {
    color: #555555!important;
}
.navbar-extend > a{
    color: #fff;
}
.navbar-extend > .active > a{

}

.navbar-brand {
    background: url('') no-repeat 10px 8px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
    color: #fff;
}

#doc-content {
    background: inherit!important;
    font-family: inherit!important;
    padding: 15px 0px !important;
}

.-mob-share-open {
    font-size: 14px;
}
.btn-tag-top {
    margin: 2px 3px!important;
}

.main-sidebar {
    min-height: 100%;
    background-color: #222d32;
    position: absolute;
    width: 230px;
}
.content-wrapper{
    margin-left: 230px;
}
a:hover{
    color: #FFF;
    background: #CC5E33;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.col-no-padding{
    padding: 0!important;
}
.bing-picture-bg{
    height: 300px;
}
.bing-description{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0.5rem;
    display: block;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
    pointer-events: none;
}
.bing-description h3 {
    font-size: 1rem;
    letter-spacing: 1rem;
    font-weight: 400;
    color: #fff;
    padding: 0.2rem;
}
.bing-description p {
    font-size: 1.2rem;
}
.bing-options {
    font-size: 1.2rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 0.5rem;
    display: block;
    text-align: right;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 3;
}
.bing-options .ctrl {
    display: inline-block;
    height: 3.2rem;
    line-height: 3.1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-border-radius: 0.6rem;
    border-radius: 0.6rem;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    text-align: center;
    padding: 0 1rem;
    margin-left: 0.5rem;
}
.image-title {
    font-size: 1.4rem;
}
.image-info {
    font-size: 12px;
}

.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success{
    color: #fff !important;
}